
			<!-- content end -->
		</div>

		<!-- container end -->
	</div>

	 <footer>  
		 <div> <a href="https://github.com/christophhart/hise_documentation/tree/master"> HISE Docs </a> <img src="/template/css/images/pd.svg" width="12px" id="year" style="padding:2px 2px" /></div> 
	 </footer>  

	<script>   document.getElementById("year").innerHTML = new Date().getFullYear();  </script>
	<script src="/template/scripts/prism.js"></script>
	<script src="/template/scripts/autoComplete.js"></script>
	<script src="/template/scripts/search.js"></script>
	
</body>
</html>
