<!-- content end -->
</main>

<aside class="anchor-nav" id="anchor-nav-container" role="complementary" aria-label="Page anchors">
</aside>

<!-- container end -->
</div>

<footer>
	<div class="footer_in"> <a href="https://github.com/christophhart/hise_documentation/tree/master"> HISE Docs </a>
		<img src="/template/css/images/pd.svg" width="12px" id="year" style="padding:2px 2px" />
	</div>
</footer>

<script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
<script src="/template/scripts/prism.js" defer></script>
<script src="/template/scripts/autoComplete.js" defer></script>
<script src="/template/scripts/search.min.js" defer></script>

</body>

</html>